body,
header, {
    
    height: 100%;

}

body {
	font-family: 'Lora', serif;
	background-image: url('../assets/images/wood.png');
}

.jumbotron {

	background-image: url('../assets/images/flag.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-shadow: 3px 3px black;
	font-weight:bold;
}